*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a{
text-decoration: none;


}
body{
font-family: Arial, Helvetica, sans-serif;

}
.bar{
  display: flex;
  justify-content: space-between;
width: 100%;
  height: 100px;
  
}


.bar1{
 display: flex;
  align-items: center;
  margin: 0px 60px ;
}

.bar2{
display: flex;
align-items: center;
gap: 20px;
  margin: 0px 40px ;
}
.bar2 a{
  font-weight: 400;
 text-decoration: none;
 color: rgb(237, 230, 230); 
 background-color: brown;
 padding: 10px 10px; 
 width: 140px;
 padding-left: 40px;
 border-radius: 4px;
}
.bar2 select{
 padding: 10px 10px; 
  border-radius: 4px;
  font-weight: 400;
  width: 140px;
  background: transparent;
  color: aliceblue;
}

.head-img{
background-image:url("AU-en-20171106-popsignuptwoweeks-perspective_alpha_website_large.webp");
 background-color: rgba(0, 0, 0, 0.6); 
  background-blend-mode: darken;


}
.hero{
 color: rgb(218, 222, 227); 
 display: flex;
 justify-content: center;
 text-align: center;
align-items: center;
 height: 500px;

 
}
.hero1{
color: rgb(218, 222, 227);
font-family: Arial, Helvetica, sans-serif;

}
.hero1 p{
  line-height: 1.8;
}
.hero1 h1{
font-weight:900;

}
.hero1 a{

  text-decoration: none;
  color: rgb(206, 208, 209);
  padding: 18px;
  background-color: rgb(213, 33, 33);
  border-radius: 5px;
}
.hero1 input{
 padding: 18px;
 width: 400px;
 background: transparent;
 border-radius: 5px;
 border: 1px solid rgb(239, 241, 241);
color: rgb(236, 238, 239);
 
}
.bar2 select{
background-color: rgb(212, 14, 120);
  background: transparent;
 
}
.bar2 option{
  color: black;
 background: transparent;
}

.trending{

height: 140px;
display: flex;
justify-content: space-between;
margin: 40px;
}
.trendinghead h2{
color: rgb(223, 232, 240);
font-weight: 700;
margin-top: 40px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
text-shadow: 30px;


}

.trendingtr{

background-image: url("Screenshot\ 2026-01-29\ 220652.png");

}
.trending1{
  margin-top: 40px;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  background-image: url("https://occ-0-3192-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABdMV-HZH6NUQ4JzFQwMEwjBSPGMpK6LyHgHQA--Ltd61GC5AD4uc7CTp_c7knmrBLo5he7BkKB1jK7q5vG4jZWaZRtHjWxxUTnczNbIDnZabra5ociBeiC-bcNRC1BMyf8Zl.jpg?r=f34");
  
}

.trending2{
  margin-top: 40px;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  background-image: url("https://occ-0-3192-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVwkctHoZyXX6x_Wh9ZoVju5V4_FsQpH0O4FmVxA5gQak9__L6X8OV0HBUaKnNLEe1VsXAOZDZmReBW8xLKNTBlXHs4h-llwpiBovnFEX_9QTQYqjZ0Hai2pZSdzgoYilvYw.jpg?r=e8a");
  
}
.trending3{
  margin-top: 40px;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  background-image: url("https://occ-0-3192-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXsERu0jxHBUV4fl6lvzuekLxVDnkJWqKRy8Qqa2I7LS3CcUZelrN-I14Tk3MSfk2ny6w2k1VHDGPxH7qJ-2NpWGbf6zguEjxf8.jpg?r=e5d");
  
}

.trending4{
  margin-top: 40px;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  background-image: url("https://occ-0-3192-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXrjUCgGHsbjAA619W2iDa77-ByFKt3ODuNlZCm_iaJHI-2wIKpo64ZgPm_LHvksS0DCY-MlwmB7M59oXTgK5C1N408_WezYMhhDzOd1S5Vr_ZMfNwKXWIeZXdOhZ9jLFVk9.jpg?r=dffo0");
  
}
.trending5{
  margin-top: 40px;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  background-image: url("https://occ-0-3192-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQvHFiawWxEI_Gxvdit-OjBFmXo0qgW9P1I3HGTVMpm1QjgceLkrPinPJcTM91FLdcneyoHxYxCS7LxpLr6zCM6LMegPCtA_Urc.jpg?r=902");
  
}




.join-head h2{
margin-top: 250px;
text-align: center;
  color: aliceblue;
}
.join{
  
 display: flex;
 justify-content: space-between;
 align-items: center;
height: 240px;
  color: aliceblue;
  margin: 10px 40px;
}


.join1{
  margin-top: 40px;
   width: 280px;
 border-radius: 16px;
 height: 240px;
 background: radial-gradient(
      circle at bottom right,
      #b81d6a 0%,
      #4b0f3f 25%,
      #1a1f3b 55%,
      #0b0b14 80%
  );

}

.join1 h3,p{
  margin: 40px 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.join2 h3,p{

font-family: Arial, Helvetica, sans-serif;
 margin: 40px 8px;
}
.join3 h3,p{
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px 8px;
}
.join4 h3,p{
  font-family: Arial, Helvetica, sans-serif;
 margin: 40px 8px;
}

.join2{
 width: 280px;
 border-radius: 16px;
 height: 240px;
 margin-top: 40px;
 
   background: radial-gradient(
      circle at bottom right,
      #b81d6a 0%,
      #4b0f3f 25%,
      #1a1f3b 55%,
      #0b0b14 80%
  );

}
.join3{
 background: radial-gradient(
      circle at bottom right,
      #b81d6a 0%,
      #4b0f3f 25%,
      #1a1f3b 55%,
      #0b0b14 80%
  );
  margin-top: 40px;
 width: 280px;
 border-radius: 16px;
 height: 240px;
}
.join4{
 background: radial-gradient(
      circle at bottom right,
      #b81d6a 0%,
      #4b0f3f 25%,
      #1a1f3b 55%,
      #0b0b14 80%
  );
  margin-top: 40px;
  width: 280px;
 border-radius: 16px;
 height: 240px;

}

.middleimg{

  background-image: url("8a5fc9a50fe2a4405ae6e8c5b3dd8061.jpg");
  border-top: 1px solid rgb(193, 127, 127);
  height: 880px
}

.Questions{
  
height: 800px;
border: 1px solid rgb(15, 11, 11);
  background-color: #01010c;
  gap: 20px;

  
}

.Questions1{
  display: flex;
 justify-content: space-between;
  padding: 16px;
  margin: 14px 200px;
  border-radius: 1px;
  height: 60px;
  color: rgb(214, 218, 221);
  
  border: 1px solid rgb(10, 12, 10);
  background-color: rgb(73, 72, 72);

  
 
}
.Questions2{
  display: flex;
 justify-content: space-between;
   padding: 16px;
  color: rgb(214, 218, 221);
  margin: 14px 200px;
  border-radius: 1px;
  height: 60px;
  border: 1px solid rgb(8, 8, 8);
  background-color: rgb(73, 72, 72);
}
.Questions3{
  display: flex;
 justify-content: space-between;
   padding: 16px;
  color: rgb(214, 218, 221);
  margin: 14px 200px;
  border-radius: 1px;
  height: 60px;
  border: 1px solid rgb(8, 8, 8);
  background-color: rgb(73, 72, 72);
}
.Questions4{
  display: flex;
 justify-content: space-between;
   padding: 16px;
  color: rgb(214, 218, 221);
  margin: 14px 200px;
  border-radius: 1px;
  height: 60px;
   border: 1px solid rgb(8, 8, 8);
  background-color: rgb(73, 72, 72);
}
.Questions5{
  display: flex;
 justify-content: space-between;
   padding: 16px;
  color: rgb(214, 218, 221);
  margin: 14px 200px;
  border-radius: 1px;
  height: 60px;
   border: 1px solid rgb(8, 8, 8);
  background-color: rgb(73, 72, 72);
}
.Questions6{
  display: flex;
 justify-content: space-between;
   padding: 16px;
  color: rgb(214, 218, 221);
  margin: 14px 200px;
  border-radius: 1px;
  height: 60px;
  border: 1px solid rgb(8, 8, 8);
background-color: rgb(73, 72, 72);
}

.headQuestions{
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 40px;
}
i{
 
  margin-right: 26px;
  font-size: larger;
  color: rgb(209, 195, 195);
}
.Questions1:hover{
  background-color: rgb(101, 97, 97);
}
.Questions2:hover{
  background-color: rgb(101, 97, 97);
}
.Questions3:hover{
  background-color: rgb(101, 97, 97);
}
.Questions4:hover{
  background-color: rgb(101, 97, 97);
}
.Questions5:hover{
  background-color: rgb(101, 97, 97);
}
.Questions6:hover{
  background-color: rgb(101, 97, 97);
}
.ready{
  color: rgb(191, 195, 199);
  text-align: center;
}

.email1 input{
 padding: 18px;
 width: 400px;
 background: transparent;
 border-radius: 5px;
 border: 1px solid rgb(239, 241, 241);
color: rgb(236, 238, 239);
}
.email1 a{
font-weight: 400;
 text-decoration: none;
 color: rgb(237, 230, 230); 
 background-color: brown;
 padding: 18px 10px; 
 width: 140px;
 padding-left: 40px;
 border-radius: 4px;

}

.call{
 color: rgb(237, 230, 230); 
 margin: 20px 200px;
}
.call a{
  color: rgb(237, 230, 230); 
}