*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a{
text-decoration: none;


}
body{
font-family: Arial, Helvetica, sans-serif;

}
.bar{
  display: flex;
  justify-content: space-between;
width: 100%;
  height: 80px;
  
}
.bar1{
 display: flex;
  align-items: center;
  margin: 0px 60px ;
}

.bar2{
display: flex;
align-items: center;
gap: 20px;
  margin: 0px 40px ;
}
.bar2 a{
  font-weight: 400;
 text-decoration: none;
 color: rgb(237, 230, 230); 
 background-color: brown;
 padding: 10px 10px; 
 width: 140px;
 padding-left: 40px;
 border-radius: 4px;
}
.bar2 select{
 padding: 10px 10px; 
  border-radius: 4px;
  font-weight: 400;
  width: 140px;
  background: transparent;
  color: aliceblue;
}

.head-img{
background-image:url("AU-en-20171106-popsignuptwoweeks-perspective_alpha_website_large.webp");
 background-color: rgba(0, 0, 0, 0.6); 
  background-blend-mode: darken;

  height: 740px;
}
.hero{
 color: rgb(218, 222, 227); 
 display: flex;
 justify-content: center;
 text-align: center;
align-items: center;
 height: 500px;

 
}
.hero1{
color: rgb(218, 222, 227);
font-family: Arial, Helvetica, sans-serif;

}
.hero1 p{
  line-height: 1.8;
}
.hero1 h1{
font-weight:900;

}
.hero1 a{

  text-decoration: none;
  color: rgb(206, 208, 209);
  padding: 18px;
  background-color: rgb(213, 33, 33);
  border-radius: 5px;
}
.hero1 input{
 padding: 18px;
 width: 400px;
 background: transparent;
 border-radius: 5px;
 border: 1px solid rgb(239, 241, 241);
color: rgb(236, 238, 239);
 
}
.bar2 select{
background-color: rgb(212, 14, 120);
  background: transparent;
 
}
