*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a{
text-decoration: none;


}
body{
font-family: Arial, Helvetica, sans-serif;

}
.bar{
  display: flex;
  justify-content: space-between;
width: 100%;
  height: 100px;
  
}


.bar1{
 display: flex;
  align-items: center;
  margin: 0px 60px ;
}

.bar2{
display: flex;
align-items: center;
gap: 20px;
  margin: 0px 40px ;
}
.bar2 a{
  font-weight: 400;
 text-decoration: none;
 color: rgb(237, 230, 230); 
 background-color: brown;
 padding: 10px 10px; 
 width: 140px;
 padding-left: 40px;
 border-radius: 4px;
}
.bar2 select{
 padding: 10px 10px; 
  border-radius: 4px;
  font-weight: 400;
  width: 140px;
  background: transparent;
  color: aliceblue;
}

.head-img{
background-image:url("AU-en-20171106-popsignuptwoweeks-perspective_alpha_website_large.webp");
 background-color: rgba(0, 0, 0, 0.6); 
height: 1500px;
  background-blend-mode: darken;


}
.hero{
 color: rgb(218, 222, 227); 
 display: flex;
 justify-content: center;
 text-align: center;
align-items: center;
 height: 500px;

 
}
.hero1{
color: rgb(218, 222, 227);
font-family: Arial, Helvetica, sans-serif;

}
.hero1 p{
  line-height: 1.8;
}
.hero1 h1{
font-weight:900;

}
.hero1 a{

  text-decoration: none;
  color: rgb(206, 208, 209);
  padding: 18px;
  background-color: rgb(213, 33, 33);
  border-radius: 5px;
}
.hero1 input{
 padding: 18px;
 width: 400px;
 background: transparent;
 border-radius: 5px;
 border: 1px solid rgb(239, 241, 241);
color: rgb(236, 238, 239);
 
}
.bar2 select{
background-color: rgb(212, 14, 120);
  background: transparent;
 
}
.bar2 option{
  color: black;
 background: transparent;
}

.trending{

height: 140px;
display: flex;
justify-content: space-between;
margin: 40px;
}
.trendinghead h2{
color: rgb(223, 232, 240);
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
text-shadow: 30px;


}
.trending1{
  margin-top: 40px;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  background-image: url("https://occ-0-3192-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABdMV-HZH6NUQ4JzFQwMEwjBSPGMpK6LyHgHQA--Ltd61GC5AD4uc7CTp_c7knmrBLo5he7BkKB1jK7q5vG4jZWaZRtHjWxxUTnczNbIDnZabra5ociBeiC-bcNRC1BMyf8Zl.jpg?r=f34");
  
}

.trending2{
  margin-top: 40px;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  background-image: url("https://occ-0-3192-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVwkctHoZyXX6x_Wh9ZoVju5V4_FsQpH0O4FmVxA5gQak9__L6X8OV0HBUaKnNLEe1VsXAOZDZmReBW8xLKNTBlXHs4h-llwpiBovnFEX_9QTQYqjZ0Hai2pZSdzgoYilvYw.jpg?r=e8a");
  
}
.trending3{
  margin-top: 40px;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  background-image: url("https://occ-0-3192-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXsERu0jxHBUV4fl6lvzuekLxVDnkJWqKRy8Qqa2I7LS3CcUZelrN-I14Tk3MSfk2ny6w2k1VHDGPxH7qJ-2NpWGbf6zguEjxf8.jpg?r=e5d");
  
}

.trending4{
  margin-top: 40px;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  background-image: url("https://occ-0-3192-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXrjUCgGHsbjAA619W2iDa77-ByFKt3ODuNlZCm_iaJHI-2wIKpo64ZgPm_LHvksS0DCY-MlwmB7M59oXTgK5C1N408_WezYMhhDzOd1S5Vr_ZMfNwKXWIeZXdOhZ9jLFVk9.jpg?r=dffo0");
  
}
.trending5{
  margin-top: 40px;
  height: 280px;
  width: 200px;
  border-radius: 10px;
  background-image: url("https://occ-0-3192-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQvHFiawWxEI_Gxvdit-OjBFmXo0qgW9P1I3HGTVMpm1QjgceLkrPinPJcTM91FLdcneyoHxYxCS7LxpLr6zCM6LMegPCtA_Urc.jpg?r=902");
  
}


.join-head h2{
margin-top: 200px;

  color: aliceblue;
}
.join{
  margin-top: 40px;
 display: flex;
 justify-content: space-between;
 align-items: center;
height: 240px;
 
  color: aliceblue;
}
.join p{
  margin-top:  20px;
}

.join1{
  width: 220px;
 height: 220px;
background-color: rgb(189, 139, 236);

}
.join2{
  width: 220px;
 height: 220px;
  
 background-color: rgb(189, 139, 236);

}
.join3{
  background-color: rgb(189, 139, 236);
 width: 220px;
 height: 220px;
}
.join4{
 background-color: rgb(189, 139, 236);
 width: 200px;
 height: 220px;
}


